{% macro init(workdir) -%}
{%- raw %}
permissions:
  contents: write
strategy:
  fail-fast: false
  matrix:
    settings:
      - platform: 'macos-latest'
        args: '--target aarch64-apple-darwin'
      - platform: 'macos-latest'
        args: '--target x86_64-apple-darwin'
      - platform: 'ubuntu-20.04'
        args: ''
      - platform: 'windows-latest'
        args: ''

runs-on: ${{ matrix.settings.platform }}
{% endraw -%}
defaults:
  run:
    working-directory: ${{ workdir }}
steps:
  - uses: actions/checkout@v4
{%- endmacro %}

{% set tauri -%}
{%- raw %}
- uses: tauri-apps/tauri-action@v0
  env:
    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  with:
    tagName: ${{ steps.environments.outputs.version }}
    releaseName: ${{ steps.environments.outputs.project }}
    releaseBody: ${{ github.event.head_commit.message }}
    releaseDraft: true
    prerelease: false
    args: ${{ matrix.settings.args }}
{% endraw -%}
{%- endset %}

{% macro apt_cache(version, packages=[]) -%}
- name: linux install dependencies
  uses: awalsh128/cache-apt-pkgs-action@latest
  if: matrix.settings.platform == 'ubuntu-20.04'
  with:
    packages: {% for package in packages -%} {{ package }} {% endfor +%}
    version: {{ version }}
    execute_install_scripts: true
{% endmacro %}
