{% macro init(workdir) -%}
{%- raw %}
permissions:
  contents: write
strategy:
  fail-fast: false
  matrix:
    settings:
      - platform: "macos-latest"
        args: "--target aarch64-apple-darwin"
      - platform: "macos-latest"
        args: "--target x86_64-apple-darwin"
      - platform: "ubuntu-20.04"
        args: ""
      - platform: "windows-latest"
        args: ""

runs-on: ${{ matrix.settings.platform }}
{% endraw -%}
defaults:
  run:
    working-directory: ${{ workdir }}
steps:
  - uses: actions/checkout@v4
{%- endmacro %}

{% macro apt_cache(version, packages=[]) -%}
- name: linux install dependencies
  uses: awalsh128/cache-apt-pkgs-action@latest
  if: matrix.settings.platform == 'ubuntu-20.04'
  with:
    packages: {% for package in packages -%} {{ package }} {% endfor +%}
    version: {{ version }}
    execute_install_scripts: true
{% endmacro %}

{% set toolchain_cache -%}
{%- raw -%}
- uses: pnpm/action-setup@v3
  name: setup pnpm
  with:
    version: 8
    run_install: false

- name: setup node
  uses: actions/setup-node@v4
  with:
    node-version: ${{ inputs.node }}
    cache: "pnpm"

- name: install stable toolchain
  uses: dtolnay/rust-toolchain@stable
  with:
    targets: ${{ matrix.settings.platform == 'macos-latest' && 'aarch64-apple-darwin,x86_64-apple-darwin' || '' }}

- name: rust cache
  uses: swatinem/rust-cache@v2
  with:
    workspaces: "./src-tauri -> target"

- name: install frontend dependencies
  run: pnpm install
{% endraw -%}
{% endset %}

{% set tauri -%}
{%- raw %}
- uses: tauri-apps/tauri-action@v0
  env:
    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  with:
    tagName: ${{ steps.environments.outputs.version }}
    releaseName: ${{ steps.environments.outputs.project }}
    releaseBody: ${{ github.event.head_commit.message }}
    releaseDraft: true
    prerelease: false
    args: ${{ matrix.settings.args }}
{% endraw -%}
{%- endset %}
