{%- import 'variables.j2' as variables -%}
{%- import 'actions.j2' as actions -%}
{%- import 'node/extra.j2' as node -%}
{%- import 'rust/extra.j2' as rust -%}
{%- import 'rust-tauri/extra.j2' as rust_tauri -%}
on:
  workflow_call:
    {% if data.variables.inputs | length > 0 %}
    inputs:
      {% for v in data.variables.inputs %}
      {{ variables.inputs(v.name, v.default, v.desc, v.type, v.required) | indent(6) }}
      {% endfor %}
    {% endif %}
    {% if data.variables.secrets | length > 0 %}
    secrets:
      {% for v in data.variables.secrets %}
      {{ variables.secrets(v.name, v.desc) | indent(6) }}
      {% endfor %}
    {% endif %}
    {% if data.variables.outputs | length > 0 %}
    outputs:
      {% for _, v in data.variables.outputs %}
      {{ variables.outputs(v.name, v.value, v.desc) | indent(6) }}
      {% endfor %}
    {% endif %}

jobs:
  setup:
    {{ rust_tauri.init | indent(4) }}
      {{ rust_tauri.apt_cache(data.setup.apt.version, data.setup.apt.packages) | indent(6) }}
      {{ rust.init | indent(6) }}
      {{ node.init | indent(6) }}
      {{ rust.env | indent(6) }}
      {{ rust_tauri.tauri | indent(6) }}
