{% set init -%}
{% raw -%}
runs-on: ubuntu-latest
defaults:
  run:
    working-directory: ${{ inputs.gradle_workdir }}
steps:
  - uses: actions/checkout@v4
  - uses: actions/setup-java@v4
    with:
      java-version: "17"
      distribution: "temurin"
{% endraw %}
{%- endset %}

{% set cache -%}
{% raw -%}
- name: setup-gradle
  uses: gradle/actions/setup-gradle@v3
  with:
    gradle-home-cache-cleanup: true
{% endraw %}
{%- endset %}

{% set env -%}
{% raw -%}
- id: environments
  name: environments
  run: |
    echo "
    project=$(gradle name -q | awk 'NR==1 {print}')
    version=$(gradle version -q | awk 'NR==1 {print}')
    sonar_enabled=${{ secrets.SONAR_TOKEN != '' && secrets.SONAR_HOST_URL != ''}}
    " >> "$GITHUB_OUTPUT"
  shell: bash
{% endraw %}
{%- endset %}

{% set lint -%}
{% raw -%}
- name: build and test
  run: gradle clean build
  env:
    GPR_USER: ${{ secrets.user }}
    GPR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
{% endraw %}
{%- endset %}

{% set build -%}
{% raw -%}
- name: build and test
  run: gradle clean build
  env:
    GPR_USER: ${{ secrets.user }}
    GPR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
{%- endraw %}
{%- endset %}

{% set publish -%}
{% raw -%}
- name: publish
  run: gradle publish
  env:
    GPR_USER: ${{ secrets.user }}
    GPR_TOKEN: ${{ secrets.token }}
{% endraw %}
{%- endset %}

