{% set init -%}
{% raw -%}
runs-on: ubuntu-latest
defaults:
  run:
    working-directory: ${{ inputs.workdir }}
steps:
  - uses: actions/checkout@v4
    with:
      fetch-depth: 0
{% endraw %}
{% endset %}

{% macro upload(name, paths=[]) -%}
- name: upload {{ name }}
  uses: actions/upload-artifact@v4
  with:
    name: {{ name }}
    path: |
      {% for path in paths %}
        {{ path }}
      {% endfor %}
{% endmacro %}

{% macro download(name, paths=[]) -%}
- name: download {{ name }}
  uses: actions/download-artifact@v4
  with:
    name: {{ name }}
    path: |
      {% for path in paths %}
        {{ path }}
      {% endfor %}
{% endmacro %}


