{% macro upload(name, paths=[]) -%}
- name: upload {{ name }}
  uses: actions/download-artifact@v4
  with:
    name: {{ name }}
    path: |
      {% for path in paths %}
        {{ path }}
      {% endfor %}
{% endmacro %}

{% macro download(name, paths=[]) -%}
- name: download {{ name }}
  uses: actions/download-artifact@v4
  with:
    name: {{ name }}
    path: |
      {% for path in paths %}
        {{ path }}
      {% endfor %}
{% endmacro %}

{% macro sonar(opts=[]) -%}
{%- raw %}
- id: sonar-restore-cache
  name: restore sonar cache
  uses: actions/cache/restore@v4
  with:
    path: |
      ~/sonar-scanner
      ~/.sonar
    key: ${{ runner.os }}-sonar
    restore-keys: ${{ runner.os }}-sonar

- name: setup-sonar
  if:  ${{ steps.sonar-restore-cache.outputs.cache-hit != 'true' }}
  run: |
    mkdir -p ~/sonar-scanner/.sonar
    curl -L -o sonar-scanner.zip https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-5.0.1.3006-linux.zip
    unzip -q -o sonar-scanner.zip -d ~/
    mv ~/sonar-scanner-5.0.1.3006-linux/* ~/sonar-scanner
    rm -r ~/sonar-scanner-5.0.1.3006-linux
  shell: bash

- name: sonar analyze
  run:
    ~/sonar-scanner/bin/sonar-scanner
    -Dsonar.projectBaseDir=./
    -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }}
    -Dsonar.token=${{ secrets.SONAR_TOKEN }}
    -Dsonar.pullrequest.key=${{github.event.pull_request.number}}
    -Dsonar.pullrequest.branch=${{ github.event.pull_request.head.ref }}
    -Dsonar.pullrequest.base=${{ github.event.pull_request.base.ref }}
    -Dsonar.projectKey=${{ steps.environments.outputs.project }}
    -Dsonar.projectVersion=${{ steps.environments.outputs.version }}
{% endraw -%}
    {% for opt in opts %}
    {{ opt }}
    {% endfor %}
{%- endmacro %}