{%- import 'common.j2' as common -%}
{%- from 'golang.j2' import setup, cache, environments, build -%}
on:
  workflow_call:
    inputs:
      {{ common.inputs('workdir', './', 'Specify all of steps where are run') | indent(6) }}
      {{ common.inputs('GOOS', 'linux', 'GOOS target os') | indent(6) }}
      {{ common.inputs('GOARCH', 'amd64', 'GOARCH arch') | indent(6) }}
      {{ common.inputs('ENTRANCE', './main.go', 'Specify main.go relative path') | indent(6) }}
    secrets:
      {{ common.secrets('SONAR_HOST_URL', 'Sonarqube host url') | indent(6) }}
      {{ common.secrets('SONAR_TOKEN', 'Sonarqube Token') | indent(6) }}

jobs:
  lint:
    {{ setup | indent(4) }}
      {{ cache | indent(6) }}
      - name: golangci-lint
        run: |
          go version
          golangci-lint -vv

  security:
    {{ setup | indent(4) }}
      {{ cache | indent(6) }}
      - name: gosec checkout
        run: |
          mkdir -p build
          gosec -fmt=json -out=build/gosec-report.json -stdout -verbose=text *.go
          tree

      {{ common.upload_artifact('gosec-report', ['${{ inputs.workdir }}build/gosec-report.json']) | indent(6) }}

  build:
    {{ setup | indent(4) }}
      {{ cache | indent(6) }}
      {{ common.download_artifact('gosec-report', ['${{ inputs.workdir }}build/gosec-report.json']) | indent(6) }}
      {{ environments | indent(6) }}
      {{ build | indent(6) }}
      {{ sonar | indent(6) }}