{% block reusable -%}
on:
  workflow_call:
{%- endblock reusable %}

{% macro inputs(name, default="",  desc='', type='string', required='false') -%}
{{ name }}:
  required: {{ required }}
  {% if required != "true" %}
  default: "{{ default }}"
  {% endif %}
  type: "{{ type }}"
   {% if desc != "" %}
  description: "{{ desc }}"
  {% endif %}
{%- endmacro %}

{% macro secrets(name, desc='', required='false') -%}
{{ name }}:
  required: {{ required }}
  description: "{{ desc }}"
{%- endmacro %}

{% macro outputs(name, value='', desc='') -%}
{{ name }}:
  value: {{ '${{' }} {{ value }} {{ '}}' }}
  description: "{{ desc }}"
{%- endmacro %}

{% macro upload_artifact(name, paths=[]) -%}
- name: upload target
  uses: actions/upload-artifact@v4
  with:
    name: {{ name }}
    path: |
      {% for path in paths %}
        {{ path }}
      {% endfor %}
{% endmacro %}
